<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/meta'); -%>
        <%- include('partials/scripts'); -%>
    </head>

  <body>

  <%- include('partials/header'); -%>

<body class="index loading">

		<%- include('partials/header-article'); -%>

				<header class="special container" style="margin-bottom: 2em">
					<h2>Marie Curie Charity eCards</h2>
					<p>Click on an ecard to view (requires flash)</p>
				</header>

				<section class="wrapper style3 container special" id="samples">
					<div class="row">
						<div class="4u">
							<section class="portfolio-item">
								<a href="http://ecards.mariecurie.org.uk/corporate/design/3-wise-men" class="image feature portfolio-link" target="_blank">
				  				<div class="portfolio-hover">
				                    <div class="portfolio-hover-content">
				                        <i class="fa fa-search-plus fa-3x"></i>
				                    </div>
				                  </div>
								<img src="ecards/ecard1.jpg" alt=""></a>
								<header>
									<h3><a href="http://ecards.mariecurie.org.uk/corporate/design/3-wise-men" target="_blank">3 Wise Men</a></h3>
								</header>
							</section>
						</div>
						<div class="4u">
							<section class="portfolio-item">
								<a href="http://ecards.mariecurie.org.uk/browse/design/penquin-birthday" class="image feature portfolio-link" target="_blank">
								<div class="portfolio-hover">
				                    <div class="portfolio-hover-content">
				                        <i class="fa fa-search-plus fa-3x"></i>
				                    </div>
				                  </div>
								<img src="ecards/ecard2.jpg" alt=""></a>
								<header>
									<h3><a href="http://ecards.mariecurie.org.uk/browse/design/penquin-birthday" target="_blank">Penguin Birthday</a></h3>
								</header>
							</section>
						</div>
						<div class="4u">
							<section class="portfolio-item">
								<a href="http://ecards.mariecurie.org.uk/browse/design/birthday-present" class="image feature portfolio-link" target="_blank">
								<div class="portfolio-hover">
				                    <div class="portfolio-hover-content">
				                        <i class="fa fa-search-plus fa-3x"></i>
				                    </div>
				                  </div>
								<img src="ecards/ecard3.jpg" alt=""></a>
								<header>
									<h3><a href="http://ecards.mariecurie.org.uk/browse/design/birthday-present" target="_blank">Birthday Present</a></h3>
								</header>
							</section>
						</div>
						<div class="4u">
							<section class="portfolio-item">
								<a href="http://ecards.mariecurie.org.uk/browse/design/snow-globe" class="image feature portfolio-link" target="_blank">
								<div class="portfolio-hover">
				                    <div class="portfolio-hover-content">
				                        <i class="fa fa-search-plus fa-3x"></i>
				                    </div>
				                  </div>
								<img src="ecards/ecard4.jpg" alt=""></a>
								<header>
									<h3><a href="http://ecards.mariecurie.org.uk/browse/design/snow-globe" target="_blank">Snow Globe</a></h3>
								</header>
							</section>
						</div>
						<div class="4u">
							<section class="portfolio-item">
								<a href="http://ecards.mariecurie.org.uk/browse/design/happy-new-year-fireworks" class="image feature portfolio-link" target="_blank">
								<div class="portfolio-hover">
				                    <div class="portfolio-hover-content">
				                        <i class="fa fa-search-plus fa-3x"></i>
				                    </div>
				                  </div>
								<img src="ecards/ecard5.jpg" alt=""></a>
								<header>
									<h3><a href="http://ecards.mariecurie.org.uk/browse/design/happy-new-year-fireworks" target="_blank">New Years</a></h3>
								</header>
							</section>
						</div>
						<div class="4u">
							<section class="portfolio-item">
								<a href="http://ecards.mariecurie.org.uk/corporate/design/jolly-penguins-2" class="image feature portfolio-link" target="_blank">
									<div class="portfolio-hover">
				                    <div class="portfolio-hover-content">
				                        <i class="fa fa-search-plus fa-3x"></i>
				                    </div>
				                  </div>
								<img src="ecards/ecard6.jpg" alt=""></a>
								<header>
									<h3><a href="http://ecards.mariecurie.org.uk/corporate/design/jolly-penguins-2" target="_blank">New Years</a></h3>
								</header>
							</section>
						</div>
					</div>
				</section>



  <%- include('partials/footer'); -%>



</body>
</html>
