<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/meta'); -%>
        <%- include('../partials/scripts'); -%>
    </head>

  <body class="index loading">

    <%- include('../partials/header'); -%>

    <!-- Banner -->
      <section id="banner" >
        <div class="inner">
          <header>
            <h2>UX/UI design & development consultancy</h2>
          </header>
          <p>I create digital user experiences</p>
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button scrolly">Continue</a></li>
            </ul>
          </footer>

        </div>
      </section>

      <span id="about"></span>
      <article id="main">

        <header class="special container">
          <span class="icon-dd"></span>
          <h2>My name is Somme and I'm a freelance UX/UI designer and front-end developer currently based in the South Coast of England.</h2>
        </header>
        <section class="wrapper style4 container">
          <div class="row oneandhalf">
            <div class="8u">

              <!-- Content -->
                <div class="content">
                  <section>

                    <h3>I help businesses solve problems</h3>
                    <p>
                      I bridge the gap between visual designers, developers and business analysts. My involvement
                      through the entire cycle of a project enables the projects end result to be a rounded
                      balance of user needs and business goals.
                    </p>
                    <p>
                      With the combination of a strong creative background, attention to detail,
                      along with my extensive experience and technical skills I can deliver on
                      projects from the initial briefing right through to build, testing and
                      completion with successful results on time and in budget.
                    </p>
                    <p>
                      Being in the industry since 2000 I've developed a passion for digital, an eye for detail and appreciation for simplicity.
                      My experience has given me exposure to different working environments and capabilities so I’m able to connect with people at all levels.
                    </p>

                    <h3>How I work</h3>
                    <p>
                      I like to work as part of a multidisciplinary team in a collaborative environment to a collective vision.
                      By involving the client and relevant stakeholders at every step of the process you gain a better
                      understanding of their business goals and the needs of their customers.
                    </p>
                    <p>
                      I embrace the "inspect-and-adapt" aproach of agile development.
                      For me, it's my preferred way of working and thinking.
                      I believe in starting with real user needs and keeping it simple.
                      Failing early, iterate, then iterate again.
                    </p>

                    <h3>How much do I charge</h3>
                    <p>
                        Every client is different, so every project is different. Depending on the
                        size and nature of the project I either charge a fixed price or a daily rate.
                    </p>

                    <h3>Aside from work</h3>
                    <p>
                      When I'm not working and have the time I enjoy photography, snowboarding, cooking, travelling and online gaming.
                    </p>

                  </section>
                </div>
              </div>
              <div class="4u">

                <!-- Sidebar -->
                  <div class="sidebar">
                    <section>
<!--
                      <header>
                        <h3>Download</h3>
                        <p><a href="#" target="_blank"><i class="fa fa-file-pdf-o"></i> Curriculum Vitae - PDF</a></p>
                      </header>
-->
                      <div class="image feature">
                        <img src="images/mug.jpg" alt="">
                      </div>
                      <p>I understand that every clients needs, goals and budgets are different.
                      With my experience of working with the smallest startups to the biggest players,
                      no project is too small or too large. I like a challenge!</p>
                      <footer>
                        <ul class="buttons">
                          <li><a href="#contact" class="button scrolly"><i class="icon fa-envelope"></i> Get in touch</a></li>
                        </ul>
                      </footer>
                    </section>

                  </div>

              </div>
            </div>
          </section>


          <!-- CTA -->
    <section class="wrapper style2 container special-alt">
            <div class="row half">
              <div class="8u">

                <header>
                  <h2>Hire me</h2>
                </header>
                <p>
                  If you've got a project that you need help with then get in touch.<br />
                  My current availability is mid Feb 2020.
                </p>


                <footer>
                  <ul class="buttons">
                    <li><a href="#contact" class="button scrolly"><i class="icon fa-envelope"></i> Get in touch</a></li>
                  </ul>
                </footer>


              </div>
              <div class="4u skel-cell-important">

                <ul class="feature-icons">
                  <li><span class="icon fa-lightbulb-o"></span></li>
                  <li><span class="icon fa-cog"></span></li>
                  <li><span class="icon fa-laptop"></span></li>
                  <li><span class="icon fa-gamepad"></span></li>
                </ul>

              </div>
            </div>
          </section>

        <!-- Two -->
          <section class="wrapper style1 container special" id="services">

          <header class="special container">
          <span class="icon fa-pencil"></span>
          <h2>MY SERVICES</h2>
          <!-- <p>Feel free to drop me a line, I'd love to hear from you and discuss how I can help with your project.</p> -->
        </header>

            <div class="row">
              <div class="4u">
                <section>
                  <span class="icon feature fa-code"></span>
                  <header>
                    <h3>Front-end development</h3>
                    </header>
                    <p>
                      I can seamlessly translate from paper prototypes or flat designs to hand written compliant code that can intergrate into any backend framework and is compatibale across all browsers.
                    </p>
                </section>
              </div>
              <div class="4u">
                <section>
                  <span class="icon feature fa-mobile"></span>
                  <header>
                    <h3>Responsive Design</h3>
                  </header>
                  <p>
                    I encourage clients to take the mobile-first responsive approach.
                    Designs that respond and adapt to different screen sizes are far more
                    user friendly and provide a better user experience.
                  </p>
                </section>
              </div>
              <div class="4u">
                <section>
                  <span class="icon feature fa-copy"></span>
                  <header>
                    <h3>Prototypes & Wireframes</h3>
                  </header>
                  <p>
                    I believe it's essential to prototype and wireframe designs. It's the best way to
                    adequately explain ideas and intentions to others. It also gives you
                    the opportunity to see what works or doesn’t by testing and tweaking as you go.
                  </p>
                </section>

              </div>
                <div class="4u">
                <section>
                  <span class="icon feature fa-lightbulb-o"></span>
                  <header>
                    <h3>Requirements Capture</h3>
                  </header>
                  <p>
                    I can help you gather requirements by using several techniques such as talking to your customers, focus groups, observing users and facilitating requirements workshops.
                  </p>
                </section>
              </div>

              <div class="4u">
                <section>
                  <span class="icon feature fa-sitemap"></span>
                  <header>
                    <h3>Information Architecture</h3>
                  </header>
                  <p>
                    I can help you organise your digital products information architecture ensuring it's usability and findability is optimised for your customers or users.
                  </p>
                </section>

              </div>

              <div class="4u">
                <section>
                  <span class="icon feature fa-plane"></span>
                  <header>
                    <h3>User journeys</h3>
                  </header>
                  <p>
                    I can help you map out the entire user journey. This will give vision to your project, communicate what you are trying to achieve and how users interact with your product.
                  </p>
                </section>

              </div>
            </div>
          </section>

        <!-- Three -->
          <section class="wrapper style3 container special" id="samples">
            <header class="major">
              <h2>Portfolio</h2>
              Here are various samples of the different projects I've worked on (more coming soon).
            </header>
            <%- include('../partials/samples'); -%>
          </section>
      </article>


      <a name="contact" id="contact"></a>
      <article id="main">

        <header class="special container">
          <span class="icon fa-envelope"></span>
          <h2>Get In Touch</h2>
          <p>Feel free to drop me a line, I'd love to hear from you and discuss how I can help with your project.</p>
        </header>

        <!-- One -->
          <section class="wrapper style4 special container ">

            <!-- Content -->
              <div class="content">
                <form action="/" method="post" name="contact_form">
                  <div class="row half no-collapse-1">
                    <div class="6u field">
                      <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="6u field">
                      <input type="text" name="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="row half">
                    <div class="12u field">
                      <textarea name="message" placeholder="Message" rows="7"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="12u field">
                      <ul class="buttons">
                        <li><input name="submitted" id="send" value="Send Message" class="button special" type="submit"></li>
                      </ul>
                    </div>
                  </div>
                   <div class="loading"></div>

                        <!-- Success Message -->

                    <div class="alert alert-success success-message">
                  <strong>Success!</strong><br>Your message has been sent.
                </div>
                </form>
              </div>

          </section>

      </article>

      <%- include('../partials/footer'); -%>


    <script type="text/javascript">
      var images = ['bridge2.jpg', 'shoes.jpg', 'grass.jpg', 'flower.jpg', 'fountain.jpg', 'bridge.jpg', 'leaf.jpg', 'trees.jpg'];

      $('#banner')
      .css('background-image', 'url(css/images/overlay.png), url(images/' + images[Math.floor(Math.random() * images.length)] + ')');
    </script>


</body>
</html>
